:root{
 --orange-main: #ff6900;
 --orange-secundar: #ffbb86;
}

html, body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.4em;
  background-color:var(--orange-main);
}

nav > ul {
  display: flex;
  align-items: right;
  list-style: none;
}

nav > ul > li {
  margin-right: 2em;
}

header {
  display: flex;
  background-color: var(--orange-secundar);
  height: 15em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


header > h2 {
  text-align: center;
  font-size: 3em;
}

main > aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 4rem 0;
}

main {
  display: block;
  max-width: 60em;
  margin: 0 auto;
}

main > aside > p {
  max-width: 40em;
}

main > h3 {
  text-align: center;
}

main > section {
  background-color: white;
  padding: 2em;
  margin: 0;
  display: flex;
  -webkit-box-shadow: 0px 1px 23px 0px rgba(0,0,0,0.10);
  transition: background-color, margin .5s ease-in;
}


main > section > a {
  text-decoration: none;
}

main > section:hover{
  background-color:var(--orange-secundar);
  box-shadow: 4px 4px 4px 4px black;
  -webkit-box-shadow: 0px 1px 23px 0px rgba(0,0,0,0.20);
  -moz-box-shadow:  0px 1px 23px 0px rgba(0,0,0,0.20);
  box-shadow:  0px 1px 23px 0px rgba(0,0,0,0.20);
  z-index: +1;
  margin: 20px 0;
  transition: all .3s ease-in;
}
main > section:hover > a > article > p {
  transition: all .3s ease-in;
}

main > section > a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


main > section a article > p {
  color:black;
  max-width: 25em;
}
